*{
	font-family: Abel;
}
@font-face{
	font-family: Abel;
	src: url(fonts/Abel-Regular.ttf);
}
header > h5{
	font-weight: lighter;
	font-size: 1.5em;
	text-align: center;
}

#container{
	display: flex;
	flex-direction: column;
	align-items: center;
}
#container > label{
	margin-bottom: 10px;
}
#container > label > input{
	padding: 5px;
}